*.iml
*.pyc

# IDEs
.idea
.idea_modules
.vscode

# build files
target
.metals

# vendor files
node_modules

# System files
.DS_Store

javascript/.yarn/*
!javascript/.yarn/cache
!javascript/.yarn/patches
!javascript/.yarn/plugins
!javascript/.yarn/releases
!javascript/.yarn/sdks
!javascript/.yarn/versions