*.iml
*.pyc

# IDEs
.idea
.idea_modules
.vscode

# build files
target
.metals

# vendor files
node_modules

# System files
.DS_Store

javascript/.yarn/*
!javascript/.yarn/cache
!javascript/.yarn/patches
!javascript/.yarn/plugins
!javascript/.yarn/releases
!javascript/.yarn/sdks
!javascript/.yarn/versions

javascript-esm/.yarn/*
!javascript-esm/.yarn/cache
!javascript-esm/.yarn/patches
!javascript-esm/.yarn/plugins
!javascript-esm/.yarn/releases
!javascript-esm/.yarn/sdks
!javascript-esm/.yarn/versions

typescript-node/.yarn/*
!typescript-node/.yarn/cache
!typescript-node/.yarn/patches
!typescript-node/.yarn/plugins
!typescript-node/.yarn/releases
!typescript-node/.yarn/sdks
!typescript-node/.yarn/versions